// Colors
$color__black: #000;
$color__blackish: #111111;
$color__white: #fff;
$color__grey: #bdbdbd;
$color__gold: #c39d63;
$color__light: #eee;
$color__gray__innovation: #b9b9b9;
$color_bg_contact: #1f1f1f;
$color__footer: #666666;
$color_blue: #2ea3f2;
$color_bg_dark: #1f1f1f;
$color_form: #c6c6c6;
