// Fonts
@font-face {
  font-family: "popLight";
  src: url("../../fonts/poppins.light.ttf") format("truetype"),
    url("../../fonts/poppins.light.ttf") format("truetype");
}
@font-face {
  font-family: "popExtralight";
  src: url("../../fonts/poppins.extralight.ttf") format("truetype"),
    url("../../fonts/poppins.extraLight.ttf") format("truetype");
}
@font-face {
  font-family: "popThin";
  src: url("../../fonts/poppins.thin.ttf") format("truetype"),
    url("../../fonts/poppins.thin.ttf") format("truetype");
}
@font-face {
  font-family: "popRegular";
  src: url("../../fonts/poppins.regular.ttf") format("truetype"),
    url("../../fonts/poppins.regular.ttf") format("truetype");
}
@font-face {
  font-family: "popMedium";
  src: url("../../fonts/poppins.medium.ttf") format("truetype"),
    url("../../fonts/poppins.medium.ttf") format("truetype");
}
@font-face {
  font-family: "popBold";
  src: url("../../fonts/poppins.bold.ttf") format("truetype"),
    url("../../fonts/poppins.bold.ttf") format("truetype");
}
@font-face {
  font-family: "popSemibold";
  src: url("../../fonts/poppins.semibold.ttf") format("truetype"),
    url("../../fonts/poppins.semibold.ttf") format("truetype");
}
