.gallery {
  @include full-width-height;
  padding: 10rem 0rem;
  &__inside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0rem;
    img {
      width: 25rem;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
  only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3),
  only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3),
  only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3),
  only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .gallery {
    &__inside {
      width: 100%;
      @include flex-column-center;
      img {
        width: 30rem;
        margin: 1rem 0rem;
      }
    }
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gallery {
    @include full-width-height;
    padding: 10rem 0rem;
    &__inside {
      width: 100%;
      @include flex-column-center;
      img {
        width: 50rem;
        margin: 2rem 0rem;
      }
    }
  }
}
